@font-face {
    font-family: "Caskaydia Mono Nerd Font";
    src: url("./assets/fonts/CaskaydiaMonoNerdFont-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Caskaydia Mono Nerd Font";
    src: url("./assets/fonts/CaskaydiaMonoNerdFont-Bold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Caskaydia Mono Nerd Font";
    src: url("./assets/fonts/CaskaydiaMonoNerdFont-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Caskaydia Mono Nerd Font";
    src: url("./assets/fonts/CaskaydiaMonoNerdFont-Light.ttf") format("truetype");
    font-weight: 300; /* Light weight */
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    height: 100%;
    font: 100%/1.5 sans-serif;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 1.5em;
}

@media (min-width: 768px) {
    html {
        font-size: 125%;
        max-width: 42em;
    }
}

/* General Body Styles */
body {
    background-color: #fffef0;
    font-family: "Caskaydia Mono Nerd Font", monospace;
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: transparent;
}

.header .logo {
    font-size: 1rem;
    /* color: #fa6432;*/
    color: #f53e3e;
    text-decoration: none;
}

.header .logo:hover {
    text-decoration: underline;
}

.header nav {
    display: flex;
    gap: 1rem;
}

.header nav a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.header nav a:hover {
    color: #f53e3e;
    text-decoration: underline;
}

/* Front Page Styles */
body.front-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body.front-page .container {
    text-align: center;
    position: relative;
}

body.front-page #main-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    position: relative;
    transform: translateY(-20%);
    margin-bottom: 2rem;
    white-space: nowrap; /* Prevent text wrapping */
}

body.front-page .links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

body.front-page .links .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent; /* Transparent background */
    text-decoration: none;
    color: #f53e3e;
    transition: transform 0.2s ease-in-out;
}

body.front-page .links .link:hover {
    transform: scale(1.1);
}

body.front-page .links .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Blog List Page Styles */
body.blog-list .container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

body.blog-list .title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
    text-align: left;
}

body.blog-list .posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

body.blog-list .posts .post {
    margin-bottom: 1.5rem;
}

body.blog-list .posts .post a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

body.blog-list .posts .post a:hover {
    text-decoration: underline;
    text-decoration-color: #f53e3e;
    text-decoration-thickness: 0.5px;
    background: rgba(200, 200, 200, 0.2);
}

body.blog-list .posts .post date {
    font-family: monospace, monospace;
    font-size: 0.9rem;
    color: grey;
    flex-shrink: 0;
}

/* Blog Post Page Styles */
body.blog-post .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

body.blog-post .post-header {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

body.blog-post .post-header .title {
    font-size: clamp(1.2rem, 4vw, 2rem); /* Dynamically adjust font size */
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center; 
    overflow-wrap: break-word; /* Break words only if necessary */
    /*white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis;
    overflow: hidden;
  }


body.blog-post .post-content .post-date {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 0.5rem;
}

body.blog-post .post-content {
    line-height: 1.8;
    font-size: 1.1rem;
    color: #333;
}

body.blog-post .post-content p {
    margin-bottom: 1.5rem;
}

body.blog-post .post-footer {
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

body.blog-post .post-footer .back-to-blog {
    font-size: 1rem;
    color: #f53e3e;
    text-decoration: none;
}

body.blog-post .post-footer .back-to-blog:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    html {
        padding: 1em;
    }

    body {
        padding: 0 1em;
    }

    body.front-page #main-text {
        font-size: 2rem;
    }

    body.front-page .links .link {
        width: 40px;
        height: 40px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    body.blog-post .post-header .title {
        font-size: 2rem;
    }

    body.blog-post .post-content {
        font-size: 1rem;
    }
}

