<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <h1 class="blog-title">Blog</h1>
    </header>
    <main>
      <ul>
        {% for post in collections.posts %}
        {% if post.data.title and post.date %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
          <small>{{ post.date | date: "%B %d, %Y" }}</small>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </main>
    <footer>
      <a href="/" class="back-to-home">Back to Home</a>
    </footer>
  </div>
</body>
</html>
